
.main{
	background-image: url(https://4kwallpapers.com/images/wallpapers/purple-sky-cima-dasta-silhouette-mountains-stars-night-sky-4480x2520-3317.jpg);
	background-size: cover;
	background-attachment: fixed;
}

.header{
	font-family: satisfy;
	font-size: 60px;	
}

th {
	font-family: varela round;
	font-size: 25px;
}

p, li, .footer {
	font-family: oswald;
	font-size: 17.5px;
}

.footer{
	color: black;
}

.logo {
	width: 100px;
}

.navigation{
	width: 500px;
	padding: 15px;
	border-radius: 10px;
}

.navbar-nav{
	color: white;
}